@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

:root {
    --mainTextColor-light: #000;
    --secondaryTextColor-light: rgb(51 51 51);
    --mainLinkColor-light: #0da2b8;
    --mainBorderColor-light: rgb(218, 218, 218);
    --mainBgColor-light: rgb(249, 250, 251);

    --mainTextColor-dark: #fff;
    --secondaryTextColor-dark: #adb0b1;
    --mainLinkColor-dark: rgb(30, 190, 214);
    --mainBorderColor-dark: #2b3031;
    --mainBgColor-dark: #131415;

    --mainTextColor: var(--mainTextColor-dark);
    --secondaryTextColor: var(--secondaryTextColor-dark);
    --mainLinkColor: var(--mainLinkColor-dark);
    --mainBorderColor: var(--mainBorderColor-dark);
    --mainBgColor: var(--mainBgColor-dark);

}

* {
    font-family: 'Playfair Display';
    line-height: 26px;
    box-sizing: border-box;
    color: var(--mainTextColor);
}

body {
    background-color: var(--mainBgColor);
}

p,
span,
li {
    color: var(--secondaryTextColor);
    font-size: 18px;
}

a {
    text-decoration: none;
    color: var(--mainLinkColor);
}

li {
    line-height: 1.9em;
}

#container--main {
    max-width: 700px;
    margin: 0 auto;
}

.section--page {
    padding-top: 1.5em;
    padding-bottom: 0.5em;
}

#hero {
    display: flex;
    align-items: center;
    gap: 3em;
}

#user-name {
    font-size: 2.64em;
    line-height: 1em;
}

#bio,
a {
    font-weight: 300;
}

#profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
}

#email {
    color: var(--mainTextColor);
}

#social-sites {
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    flex-wrap: wrap;
}

#social-sites a {
    font-size: 1.5em;
    color: var(--secondaryTextColor);
    transition: 0.4s;
}

#social-sites a:hover {
    color: var(--mainLinkColor);
    font-size: 2em;
}

#Responsibility {
    list-style: lower-roman;
}

#techi {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.3em;
}

.card-techi {
    border: 4.5px solid var(--mainBorderColor);
    padding: 1.5em 1em;
    border-radius: 10px;
}

.card-work-exp
{
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;
}

.project a {
    font-size: 1.2em;
    line-height: 1.7em;
    color: var(--secondaryTextColor);
}

@media(max-width:600px)
{
    #hero{
        flex-direction: column;
        gap: 1em;
    }

    #profile-pic{
        width: 200px;
        height: 200px;
    }

    .section--page{
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .card-work-exp{
        border-left: none;
        padding-right: 0;
    }
}